# Examples of different datatypes

# 1Numeric type

In [5]:
x = 5
print(type(x))

<class 'int'>

# 2Float

In [7]:
pi = 3.14159
print(type(pi))

<class 'float'>

# 3String

In [9]:
greeting = "Hello, World!"
print(type(greeting))

<class 'str'>

# 4. Boolean

In [11]:
is_student = True
print(type(is_student))

<class 'bool'>

# 5. NoneType

In [13]:
result = None
print(type(result))

<class 'NoneType'>

# 6. List

In [24]:
numbers = [1, 2, 3, 4, 5]
print(type(numbers))

<class 'list'>

# 7. Tuple

In [27]:
coordinates = (10.0, 20.0)
print(type(coordinates))

<class 'tuple'>

# 8. Dictionary

In [30]:
person = {'name': 'Alice', 'age': 30}
print(type(person))

<class 'dict'>

# 9. Set

In [33]:
unique_numbers = {1, 2, 3, 4, 5}
print(type(unique_numbers))

<class 'set'>

# 10. FrozenSet

In [35]:
immutable_set = frozenset([1, 2, 3])
print(type(immutable_set))

<class 'frozenset'>

# 11. Complex Number

In [39]:
complex_number = 2 + 3j
print(type(complex_number))

<class 'complex'>

# 12. Bytes

In [42]:
byte_data = bytes([10, 20, 30])
print(type(byte_data))

<class 'bytes'>

# 13. Bytearray

In [45]:
mutable_bytes = bytearray([10, 20, 30])
print(type(mutable_bytes))

<class 'bytearray'>

# 14. MemoryView

In [48]:
mem_view = memoryview(bytes(5))
print(type(mem_view))

<class 'memoryview'>

# 15. Range

In [51]:
range_example = range(5)
print(type(range_example))

<class 'range'>

# 16. Byte String

In [54]:
byte_string = b"Hello"
print(type(byte_string))

<class 'bytes'>

# 17. Function

In [57]:
def add(x, y):
    return x + y

print(type(add))

<class 'function'>

# 18. Lambda Function

In [60]:
multiply = lambda x, y: x * y
print(type(multiply))

<class 'function'>

# 19. Iterator

In [63]:
iterator_example = iter([1, 2, 3])
print(type(iterator_example))

<class 'list_iterator'>

# 20. Slice

In [66]:
slice_example = slice(1, 5, 2)
print(type(slice_example))

<class 'slice'>

# 8 different examples of tuples

# 1. Tuple with Strings

In [76]:
string_tuple=("apple","banana","cherry")
print(type(string_tuple))

<class 'tuple'>

# 2. Tuple with Floating-Point Numbers

float_tuple=(1.1,2.2,3.3)
print(type(float_tuple))

# 3. Tuple with Boolean Values

In [92]:
bool_tuple = (True, False, True)
print(type(bool_tuple))

<class 'tuple'>

# 4. Tuple with a Mix of Strings and Numbers

In [99]:
mixed_tuple=("python",3.8,"version")
print(type(mixed_tuple))

<class 'tuple'>

# 5. Tuple Containing Another Tuple

In [102]:
tuple_within_tuple = (1, 2, (3, 4, 5))
print(type(tuple_within_tuple))

<class 'tuple'>

# 6. Tuple with Dictionary

In [104]:
dict_tuple = ({"name": "Alice", "age": 25}, {"name": "Bob", "age": 30})
print(type(dict_tuple))

<class 'tuple'>

# 7. Tuple with Different Types of Containers

In [108]:
container_tuple = ([1, 2], {3, 4}, {"a": 5})
print(type(container_tuple))

<class 'tuple'>

# 8. Tuple with Functions

In [112]:
def func1():
    return "Hello"

def func2():
    return "World"

function_tuple = (func1, func2)
print(type(function_tuple))

<class 'tuple'>